@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

#root {
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  --light-blue: #dae6f7;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left
}

.align-right {
  text-align: right
}

.big-logo {
  margin-top: 2%;
  width: 80%;
  max-width: 400px;
} 

.centered {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em
}

.content-container {
  padding: 1% 5%;
  margin: auto;
  width: 80%;
  height: 100vh;
  margin-bottom: 2%
}

.home-container {
  padding: 0.5% 5%;
  margin: auto;
  width: 90%;
  margin-bottom: 2%
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.info h4 {
  margin: 0%;
  color: #777;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Navbar styling */
.navbar {
  position: fixed;         /* Fix position to stay at the top */
  top: 0;                  /* Ensure it's at the top */
  left: 0;
  width: 100%;             /* Full width of the page */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #335a99;
  color: var(--light-blue);
  padding: 1rem;
  z-index: 1500;           /* Ensure navbar stays above content */
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0 1rem;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 3rem;
}

.link-text {
  color: var(--light-blue);
  text-decoration: none;
}

.small-img {
  width: 70%
}

.text-container {
  margin: 0 0 0 1em;
  padding: 1em 0;
  color: var(--light-blue)
}

.text-left {
  flex-direction: row; /* Text on the left, image on the right */
}

.text-right {
  flex-direction: row-reverse; /* Text on the right, image on the left */
}

section {
  display: flex;
  align-items: center;
  margin: 2em 0;
  color: var(--light-blue)
}

section img {
  width: 20%;
  margin: 0 2%;
}

section h2 {
  font-family: "Fjalla One", sans-serif;
  font-size: 1.8em
}

section h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 3em
}

section p {
  font-size: 150%;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  color: var(--light-blue)
}


